<section class="contributions-section">
  <h1>Github Contributions</h1>
  <section class="members-container">
    <% @users.each do |user| %>
      <article class="member-card">
        <img src="<%= user.avatar_url =%>" class="member-picture"/>
        <%= link_to "@#{user.login}", "https://github.com/#{user.login}", class: "member-name", target: "_blank" =%>
        <%= link_to user.contributions_count, contributions_path(user.id), class: "member-name" =%>
      </article>
    <% end %>
  </section>
</section>
