body {
  @include font-style($font-stack-body, 1rem, 400);
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .breadcrumbs {
    color: $white;
    list-style: none;
    padding: 0;
    text-align: center;

    li a {
      color: $white;
      display: block;
      padding: 10px 0;
    }
  }
}
