.current-user-section {
  text-align: center;

  .github-user-image {
    border-radius: 50%;
    max-width: 50px;

    @media only screen and (min-width: 640px) {
      max-width: 100px;
    }
  }

  .github-user-link {
    color: $white;
    display: block;
    font-weight: 700;
    margin-top: 15px;
  }
}
