.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  @media only screen and (min-width: 640px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .side-container {
    align-items: center;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding-top: 10px;

    @media only screen and (min-width: 640px) {
      border-bottom: none;
      border-right: 1px solid $border-color;
      flex: 0 0 20%;
      min-height: 200px;
      padding-top: 75px;
    }
  }

  .main-container-wrapper {
    height: calc(100vh - 200px);
    overflow: auto;

    @media only screen and (min-width: 640px) {
      height: calc(100vh - 200px);
      flex: 1 0;
      padding: 40px 80px;
    }
  }
}
